* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-1);
}

html {
    height: 100%;
    overflow-y: scroll;
}

body {
    color: var(--color-text-1);
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-2);
    font-weight: normal;
}

a {
    color: var(--color-accent-1);
    text-decoration: none;
}

header,
footer {
    padding: var(--space-2);
    background-color: var(--color-background-3);
    color: var(--color-text-3);
}

header nav a,
footer nav a {
    color: var(--color-text-3);
}

main {
    margin-top: var(--space-2);
    margin-bottom: var(--space-2);
}

label {
    font-size: small;
    user-select: none;
}

input,
select,
textarea,
button,
.button {
    position: relative;
    padding: var(--space-1);
    background-color: var(--color-background-4);
    color: var(--color-text-4);
    border: var(--border-1);
    outline: none;
    border-radius: var(--border-radius);
    font-size: var(--space-4);
    height: var(--space-5);
    accent-color: var(--color-accent-1);
}

textarea {
    resize: vertical;
    min-height: var(--space-5);
}

input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    background-image: none;
    background-color: var(--color-background-5);
    cursor: pointer;
}

input[type=submit],
input[type=reset],
input[type=button],
button,
.button {
    cursor: pointer;
}

input[type=submit] {
    background-color: var(--color-accent-1);
    color: var(--color-text-1);
    font-weight: bold;
    border: none;
}

input[type=checkbox],
input[type=radio] {
    height: auto;
}

input[type=color] {
    padding: 0;
    -webkit-appearance: none;
}

input[type=color]::-webkit-color-swatch {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    border: none;
}

hr {
    display: inline-block;
    height: var(--border-thickness);
    border: none;
    border-bottom: var(--border-1);
    background-color: var(--color-border-1);
}

:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Layout */

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: stretch;
    gap: var(--space-2);
}

.rack {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: center;
    gap: var(--space-2);
}

.stack {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--space-2);
}

.alignStart {
    align-items: flex-start;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: flex-end;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyCenter {
    justify-content: center;
}

.justifyEnd {
    justify-content: flex-end;
}

.column {
    flex: 1 0 0;
}

.weight0 {
    flex-grow: var(--weight-0);
}

.weight1 {
    flex-grow: var(--weight-1);
}

.weight2 {
    flex-grow: var(--weight-2);
}

.weight3 {
    flex-grow: var(--weight-3);
}

.weight4 {
    flex-grow: var(--weight-4);
}

.weight5 {
    flex-grow: var(--weight-5);
}

.card {
    padding: var(--space-2);
    background-color: var(--color-background-1);
    border-radius: var(--border-radius);
}

.card .card {
    border: var(--border-1);
}

.border {
    border: var(--border-1);
}

.checkboxContainer,
.radioContainer {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: var(--space-1);
}

.gapless {
    gap: 0;
}

.textStart {
    text-align: start;
}

.textCenter {
    text-align: center;
}

.textEnd {
    text-align: end;
}

.italic {
    font-style: italic;
}

.maximumWidth1 {
    max-width: var(--width-1);
}

.maximumWidth2 {
    max-width: var(--width-2);
}

.maximumWidth3 {
    max-width: var(--width-3);
}

.maximumWidth4 {
    max-width: var(--width-4);
}

.maximumWidth5 {
    max-width: var(--width-5);
}

.minimumWidth1 {
    min-width: var(--width-1);
}

.minimumWidth2 {
    min-width: var(--width-2);
}

.minimumWidth3 {
    min-width: var(--width-3);
}

.minimumWidth4 {
    min-width: var(--width-4);
}

.minimumWidth5 {
    min-width: var(--width-5);
}

.fontSize1 {
    font-size: var(--font-size-1);
}

.fontSize2 {
    font-size: var(--font-size-2);
}

.fontSize3 {
    font-size: var(--font-size-3);
}

.fontSize4 {
    font-size: var(--font-size-4);
}

.fontSize5 {
    font-size: var(--font-size-5);
}

.textColor1 {
    color: var(--color-text-1);
}

.textColor2 {
    color: var(--color-text-2);
}

.textColor3 {
    color: var(--color-text-3);
}

.textColor4 {
    color: var(--color-text-4);
}

.textColor5 {
    color: var(--color-text-5);
}