* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-1);
}

html {
    height: 100%;
    overflow-y: scroll;
    background-color: var(--color-background-3);
}

body {
    color: var(--color-text-1);
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-2);
}

a {
    color: var(--color-accent-1);
    text-decoration: none;
}

ul,
ol {
    padding-left: var(--space-5);
    list-style: square;
}

code {
    font-family: monospace;
}

table {
    border-collapse: collapse;
}

th {
    background-color: var(--color-background-3);
    color: var(--color-text-3);
}

th,
td {
    text-align: center;
    font-size: var(--font-size-1);
    padding-left: var(--space-1);
    padding-right: var(--space-1);
    white-space: nowrap;
}

header,
footer {
    padding: var(--space-2);
    background-color: var(--color-background-1);
    color: var(--color-text-4);
}

nav a {
    color: var(--color-text-5);
}

nav a.active {
    color: var(--color-accent-1);
    border-bottom: var(--border-1);
}

main {
    margin-top: var(--space-2);
    margin-bottom: var(--space-2);
}

img {
    max-width: 100%;
    height: auto;
}

label {
    font-size: small;
    user-select: none;
}

summary {
    font-weight: bold;
    color: var(--color-text-5);
    user-select: none;
    cursor: pointer;
}

details[open]>summary {
    margin-bottom: var(--space-3);
}

input,
select,
textarea,
button,
.button,
.fancyButton {
    position: relative;
    padding: var(--space-1);
    background-color: var(--color-background-4);
    color: var(--color-text-2);
    border: var(--border-1);
    outline: none;
    border-radius: var(--border-radius);
    font-size: var(--space-4);
    height: var(--space-5);
    accent-color: var(--color-accent-1);
}

textarea {
    resize: vertical;
    min-height: var(--height-2);
}

input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    background-image: none;
    background-color: var(--color-background-5);
    cursor: pointer;
}

input[type=submit],
input[type=reset],
input[type=button],
input[type=file]::-webkit-file-upload-button,
button,
.button,
.fancyButton {
    text-align: center;
    cursor: pointer;
}

input[type=submit],
input[type=file]::-webkit-file-upload-button,
.fancyButton {
    background-color: var(--color-accent-1);
    color: var(--color-text-3);
    font-weight: bold;
    border: none;
}

input[type=checkbox],
input[type=radio] {
    height: auto;
}

input[type=color] {
    padding: 0;
    -webkit-appearance: none;
}

input[type=color]::-webkit-color-swatch {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    border: none;
}

input[type=file] {
    padding: 0;
}

input[type=file]::-webkit-file-upload-button {
    height: 100%;
}

hr {
    display: inline-block;
    width: 100%;
    height: var(--border-thickness);
    border: none;
    border-bottom: var(--border-1);
    background-color: var(--color-border-1);
}

:disabled,
.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.hidden {
    visibility: hidden;
}

.removed {
    display: none;
}

/* Layout */

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: stretch;
    gap: var(--space-2);
}

.rack {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: center;
    gap: var(--space-2);
}

.stack {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--space-2);
}

.alignStart {
    align-items: flex-start;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: flex-end;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyCenter {
    justify-content: center;
}

.justifyEnd {
    justify-content: flex-end;
}

.column {
    flex: 1 0 0;
}

.weight0 {
    flex-grow: var(--weight-0);
}

.weight1 {
    flex-grow: var(--weight-1);
}

.weight2 {
    flex-grow: var(--weight-2);
}

.weight3 {
    flex-grow: var(--weight-3);
}

.weight4 {
    flex-grow: var(--weight-4);
}

.weight5 {
    flex-grow: var(--weight-5);
}

.noTextWrap {
    white-space: nowrap;
}

.card {
    padding: var(--space-2);
    background-color: var(--color-background-1);
    border-radius: var(--border-radius);
}

.card .card {
    border: var(--border-1);
}

.border {
    border: var(--border-1);
}

.loading {
    position: relative;
    overflow: visible;
}

.loading::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: var(--opacity-translucent);
    border-radius: var(--border-radius);
    z-index: 2;
}

.loading:after {
    content: ' ';
    position: absolute;
    width: var(--space-5);
    height: var(--space-5);
    top: calc(50% - var(--space-5));
    left: calc(50% - var(--space-5));
    border-radius: 50%;
    border: var(--space-2) solid var(--color-accent-1);
    border-color: transparent var(--color-accent-1) transparent var(--color-accent-1);
    animation: loading 1s ease-in-out infinite;
    z-index: 3;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

.checkboxContainer,
.radioContainer {
    display: grid;
    grid-template-columns: min-content 1fr;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-1);
}

.tableContainer {
    position: relative;
    height: 0;
    border: var(--border-1);
    overflow-y: scroll;
}

.tableContainer>table {
    width: 100%;
}

.tableContainer>table>thead {
    top: 0;
    position: sticky;
}

.verticalScrollContainer {
    height: 0;
    overflow-y: scroll;
}

.gapless {
    gap: 0;
}

.textStart {
    text-align: start;
}

.textCenter {
    text-align: center;
}

.textEnd {
    text-align: end;
}

.italic {
    font-style: italic;
}

.expandingWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.maximumWidth1 {
    max-width: var(--width-1);
}

.maximumWidth2 {
    max-width: var(--width-2);
}

.maximumWidth3 {
    max-width: var(--width-3);
}

.maximumWidth4 {
    max-width: var(--width-4);
}

.maximumWidth5 {
    max-width: var(--width-5);
}

.minimumWidth1 {
    min-width: var(--width-1);
}

.minimumWidth2 {
    min-width: var(--width-2);
}

.minimumWidth3 {
    min-width: var(--width-3);
}

.minimumWidth4 {
    min-width: var(--width-4);
}

.minimumWidth5 {
    min-width: var(--width-5);
}

.fontSize1 {
    font-size: var(--font-size-1);
}

.fontSize2 {
    font-size: var(--font-size-2);
}

.fontSize3 {
    font-size: var(--font-size-3);
}

.fontSize4 {
    font-size: var(--font-size-4);
}

.fontSize5 {
    font-size: var(--font-size-5);
}

.textColor1 {
    color: var(--color-text-1);
}

.textColor2 {
    color: var(--color-text-2);
}

.textColor3 {
    color: var(--color-text-3);
}

.textColor4 {
    color: var(--color-text-4);
}

.textColor5 {
    color: var(--color-text-5);
}

.textColorPositive1 {
    color: var(--color-positive-1);
}

.textColorPositive2 {
    color: var(--color-positive-2);
}

.textColorNegative1 {
    color: var(--color-negative-1);
}

.textColorNegative2 {
    color: var(--color-negative-2);
}