:root {
    --color-background-1: #FFFFFF;
    --color-background-2: #333333;
    --color-background-3: #2266AA;
    --color-background-4: #EEEEEE;
    --color-background-5: #DDDDDD;
    --color-text-1: #333333;
    --color-text-2: #FFFFFF;
    --color-text-3: #EEEEEE;
    --color-text-4: #333333;
    --color-text-5: #FFFFFF;
    --color-accent-1: #2266AA;
    --color-accent-2: #3989da;
    --color-border-1: #DDDDDD;
    --space-1: 0.25rem;
    --space-2: 0.75rem;
    --space-3: 1.00rem;
    --space-4: 2.00rem;
    --weight-1: 1;
    --weight-2: 2;
    --weight-3: 3;
    --weight-4: 4;
    --weight-5: 5;
    --border-1: 1px solid var(--color-border-1);
    --border-radius: 0;
    --font-family-1: sans-serif;
    --font-family-2: impact;
}