:root {
    --color-background-1: #ffffff;
    --color-background-2: #eeeeee;
    --color-background-3: #1d3355;
    --color-background-4: #dddddd;
    --color-background-5: #dddddd;
    --color-text-1: #444444;
    --color-text-2: #444444;
    --color-text-3: #ffffff;
    --color-text-4: #aaaaaa;
    --color-text-5: #336bb9;
    --color-accent-1: #336bb9;
    --color-accent-2: #213862;
    --color-border-1: #dddddd;
    --space-1: 0.25rem;
    --space-2: 0.40rem;
    --space-3: 0.75rem;
    --space-4: 1.00rem;
    --space-5: 1.75rem;
    --font-size-1: 0.85rem;
    --font-size-2: 1.00rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1.50rem;
    --font-size-5: 2.00rem;
    --weight-1: 1;
    --weight-2: 2;
    --weight-3: 3;
    --weight-4: 4;
    --weight-5: 5;
    --width-1: 200px;
    --width-2: 300px;
    --width-3: 600px;
    --width-4: 800px;
    --width-5: 1200px;
    --height-1: 40px;
    --height-2: 80px;
    --border-1: 1px solid var(--color-border-1);
    --border-radius: 0;
    --opacity-translucent: 0.5;
    --font-family-1: arial;
    --font-family-2: arial;
}